* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    width:70px; 
    height:70px;
    border-radius: 70px;

}

.img1 {
    width: 180px;
    height: 180px;
    border-radius: 180px;
    box-shadow: 0px 0px 0px 0px #aaaaaa;
    position: relative;
    animation: example 3s 3;
}

.img2 {
    width: 180px;
    height: 180px;
    border-radius: 180px;
    box-shadow: 0px 0px 0px 0px #aaaaaa;
    position: relative;
    animation:rightmove 3s 3;
}
.img3 {
    width: 180px;
    height: 180px;
    border-radius: 180px;
    box-shadow: 0px 0px 0px 0px #aaaaaa;
    position: relative;
    animation:topmove 3s 3;
}
.img4 {
    width: 180px;
    height: 180px;
    border-radius: 180px;
    box-shadow: 0px 0px 0px 0px #aaaaaa;
    position: relative;
    animation:bottommove 3s 3;
}
.items1{
    width:500px;
    height:300px;
    padding-left:20px;
    border-radius: 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.footerimg {
    width: 200px;
    height: 200px;
    border-radius: 210px;
    background-color: black;
    padding: 20px;
    margin: 10px;
    box-shadow: 4px 4px 8px 4px #888888;
}

.footerp {
    color: white;
    font-family: cursive;
}

.icon {
    color: white;
    margin-bottom: 50px;
}
